<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Back-office Planning System
      </a>
    </div>
  </div>
</header>
