<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <%= link_to "Back-office Planning System", @header_link, class: "govuk-header__link govuk-header__link--service-name" %>
    </div>
  </div>
</header>
