<p class="govuk-body">
  <%= link_to "Read guidance on how to prepare plans correctly (opens in new window or tab)",
    "#{Rails.configuration.api_protocol}://#{Current.local_authority}.#{Rails.configuration.api_host}/planning_guides/index", class: "govuk-link", target: "_blank" %>
</p>
