<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    We've got your comments
  </h1>
</div>

<h3 class="govuk-heading-s govuk-!-margin-top-6">
  What happens next
</h3>
<p class="govuk-body">
  A planning officer will read and consider your comments.
</p>
<p class="govuk-body">
  Your comments will be made available publicly. Your response may be edited (redacted) if it includes personal
  information or offensive language.
</p>
