<div class="govuk-grid-row govuk-!-margin-top-7 govuk-!-padding-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-l">Confirm changes to your red line boundary</h2>
      <p class="govuk-body">
        The following changes have been made to your application's red line boundary.
      </p>
      <div style="margin-top: 50px;">
        <p class="govuk-body"><strong>Your original red line boundary</strong><br>
        </p>
      </div>
      <%= render "location_map", locals: { geojson: @planning_application["boundary_geojson"] } %>
      <div style="margin-top: 30px;">
        <p class="govuk-body"><strong>Proposed red line boundary</strong><br>
        </p>
      </div>
      <%= render "location_map", locals: { geojson: @validation_request["new_geojson"] } %>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <% if @validation_request["approved"] == false %>
        <strong class="govuk-tag govuk-tag--red">
          Disagreed with suggested boundary changes
        </strong>
        <p class="govuk-body govuk-!-padding-top-6"><strong>My reason for objecting to the boundary changes: </strong><br>
          <%= @validation_request["rejection_reason"] %>
        </p>
      <% else %>
        <strong class="govuk-tag govuk-tag--green">
          Agreed with suggested boundary changes
        </strong>
      <% end %>
    </div>
  </div>
</div>

<div class="govuk-!-padding-bottom-6">
  <%= link_to 'Back', validation_requests_path(@validation_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-button govuk-!-margin-right-1" %>
</div>
