$govuk-assets-path: "govuk-frontend/dist/govuk/assets/";
$govuk-font-family: open-sans, sans-serif;
@import "govuk-frontend/dist/govuk/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";
@import "components/buttons";
@import "components/flashes";
@import "task-list";

.image-border {
  width: 276px;
  border: solid 1px #eee;
}

.contact-box {
  border: solid 2px $govuk-border-colour;
  padding: 30px 30px 0 30px;
  margin: 30px 0 30px 0;
}

.grey-box {
  background: #F3F2F1;
  padding: 20px 30px 20px 30px;
  margin: 30px 0 30px 0;
}

.display-none {
  display: none;
}

.govuk-tag {
  max-width: none;
}
