$govuk-images-path: "/assets/images/";
@import "govuk-frontend/govuk/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min";
@import "components/buttons";
@import "components/flashes";
@import "task-list";

.image-border {
  width: 276px;
  border: solid 1px #eee;
}

html * {
  font-family: open-sans, sans-serif !important;
}

.contact-box {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
  padding: 30px;
}
