<li class="govuk-!-margin-top-8">
  <h3 class="app-task-list__section">
    Provide new or missing documents
  </h3>
  <ul class="govuk-task-list" id="additional-document-validation-requests">
    <% @validation_requests["data"]["additional_document_validation_requests"].each do |change_request| %>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <% if change_request["state"] == "open" %>
            <%= link_to "Upload new document", edit_additional_document_validation_request_path(change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-link govuk-task-list__link" %>
          <% else %>
            <%= link_to "Upload new document", additional_document_validation_request_path(change_request["id"], planning_application_id: params["planning_application_id"], change_access_id: params["change_access_id"]), class: "govuk-link govuk-task-list__link" %>
          <% end %>
        </div>

        <%= render "validation_requests/change_request_state", change_request: change_request %>
      </li>
    <% end %>
  </ul>
</li>
