<% if change_request["state"] == 'open' %>
  <div class="govuk-task-list__status">
    <strong class="govuk-tag govuk-tag--grey">
      Not started
    </strong>
  </div>
<% elsif change_request["state"] == 'cancelled' %>
  <div class="govuk-task-list__status">
    <strong class="govuk-tag govuk-tag--red">
      Cancelled
    </strong>
  </div>
<% else %>
  <div class="govuk-task-list__status">
    <strong class="govuk-tag govuk-tag--blue">
      Complete
    </strong>
  </div>
<% end %>
