<% if change_request["state"] == 'open' %>
  <div class="govuk-tag govuk-tag--grey govuk-task-list__status" style="float: right;">
    Not started
  </div>
<% elsif change_request["state"] == 'cancelled' %>
  <div class="govuk-tag app-task-list__tag govuk-task-list__status" style="float: right;">
    Cancelled
  </div>
<% else %>
  <div class="govuk-tag app-task-list__tag govuk-task-list__status" style="float: right;">
    Complete
  </div>
<% end %>
